<!Document html>
<html lang="en">
<head>
    <title>Slim4 Starter</title>
    <meta charset="utf-8">
    <style>
        body {
            font-family: "Lucida Grande", "Lucida Sans Unicode", Verdana, Arial, Helvetica, sans-serif;
            font-size: 16px;
        }
        a.header-title {
            font-size: 2rem;
        }
    </style>
</head>
<body>
<header>
    <a class="header-title" href="/">Slim4 Starter</a>
    <hr>
</header>

{% block contents %}
{% endblock %}

</body>
</html>