<!Document html>
<html lang="en">
<head>
    <title>Slim4 Starter</title>
    <meta charset="utf-8">
    <style>
        body {
            font-family: "Lucida Grande", "Lucida Sans Unicode", Verdana, Arial, Helvetica, sans-serif;
            font-size: 16px;
            margin: 0;
        }
        header {
            margin: 0;
            padding: 1rem;
            border-bottom: 1px solid #cccccc;
        }
        a.header-title {
            font-size: 2rem;
            text-decoration: none;
        }
        div.contents {
            margin: 1rem;
        }
    </style>
</head>
<body>
<header>
    <a class="header-title" href="/">Slim4 Starter</a>
</header>

<div class="contents">
    {% block contents %}
    {% endblock %}
</div>

<p>&nbsp;</p>
<p>&nbsp;</p>
<hr>
<footer>
    <h2>twig functions</h2>

    <h4>current_url()</h4>
    <pre>{{ current_url() }}</pre>

    <h4>hidden_csrf_token()</h4>
    <pre>{{ hidden_csrf_token() }}</pre>

    <h4>base_path()</h4>
    <pre>{{ base_path() }}</pre>

</footer>

</body>
</html>