{% extends('layouts/layout.html.twig') %}

{% block contents %}
<h1><a href="{{ url_for('csrf') }}">CSRF Token Validation</a></h1>

    <h2>Form with CSRF Token</h2>
    <form action=""method="post">
        {{ hidden_csrf_token()|raw }}
        <pre>{{ hidden_csrf_token() }}</pre>
        <input type="submit" value="POST">
    </form>

    <h2>Form with CSRF Token</h2>
    <form action=""method="post">
        <pre>not token in this form...</pre>
        <input type="submit" value="POST">
    </form>

{% endblock %}