{% extends('layouts/layout.html.twig') %}

{% block contents %}
<h1>Hello</h1>

<p>This is SlimePHP...</p>
<p>Slim4 + Twig + Symfony/{form|validator}</p>

<p>links...</p>
<ul>
    <li><a href="{{ url_for('form') }}">form samples (not-yet-ready)</a></li>
    <li><a href="{{ url_for('welcome', {name:"YourName"}) }}">welcome (change your_name)</a></li>
    <li><a href="/bad">not found error</a></li>
</ul>

{% endblock %}