{% extends('layouts/layout.html.twig') %}

{% block contents %}
<h1>Welcome, {{ name }}</h1>

<p>A sample route with variable: `/welcome/{name}'.</p>
<p>change 'YourName' to what-ever-your-name-is. </p>

{% endblock %}